.contact {
    background-color: #181818;
}

.contact_Section_Header {
    color: white;
}

.email {
    color: white;
}

@media screen and (max-width: 519px) {
    
    .contact {
        margin-right: auto;
        margin-left: auto;
        text-align: center;
    }

    .contact_Section_Header {
        margin-top: -2px;
        margin-bottom: 0px;
    }

    .contact_Link_Image {
        width: 10%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .email {
        margin-top: 0;
        margin-bottom: 5px;
    }
}

@media screen and (min-width: 520px) and (max-width: 1024px) {
    .contact {
        margin-top: -2px;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
    }

    .contact_Section_Header {
        margin-top: 0;
        margin-bottom: 5px;
    }

    .contact_Link_Image {
        width: 10%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .contactInfoContainer{
        padding-bottom: 10px;
    }

    .email {
        margin-top: 5px;
    }
}

@media screen and (min-width: 1025px) {
    .contact {
        margin-top: -65px;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
    }

    .contact_Section_Header {
        margin-top: 0;
        margin-bottom: 5px;
    }

    .contact_Link_Image {
        width: 6%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .contactInfoContainer{
        padding-bottom: 20px;
    }

}