@media screen and (max-width: 519px) {
    
    .contact {
        width: 60%;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
    }

    .contact_Section_Header {
        margin-top: 0;
    }

    .contact_Link_Image {
        width: 20%;
        margin-left: 5%;
     
       margin-right: 5%;
    }
}

@media screen and (min-width: 520px) and (max-width: 1024px) {
    
}

@media screen and (min-width: 1025px) {
    .contact_Section_Header {
        color: white;
    }

    .contact {
        margin-top: -65px;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
        background-color: #181818;
    }

    .contact_Section_Header {
        margin-top: 0;
        margin-bottom: 25px;
    }

    .contact_Link_Image {
        width: 6%;
        margin-left: 5%;
        margin-right: 5%;
    }

}